.modalsh {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.6);
}
.modalsh button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modalsh > section {
  width: 100%;
  height:50vh;
  max-width: 550px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modalsh > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
  
}
.modalsh > section > header button {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modalsh > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modalsh > section > footer {
  padding:0;
  text-align: right;
  position:absolute;
  width:400px;
  height:100px;
  left:0;
  bottom:0;
}
.modalsh > section .login_box .image_part img{
  width:60px;
  height:50px;
}
.modalsh > section .login_box .title_part{
  position:absolute;
  bottom:150px;
  left:152px;
}
.modalsh > section .login_box .title_part span{
  font-size:1.2rem;
  font-weight:600;
  border-bottom: 0.5px solid #2d2d2d;
}
.modalsh > section .login_box .image_part{
  position:absolute;
  bottom:170px;left:-50px;
}
.modalsh > section > footer button {
  position:relative;
  top:65px;
  width:60px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 0.6rem;
  height:30px;
}
.modalsh > section > footer .loginsh{
  position:relative;
  right:100px;
}
.modalsh > section > footer .closesh{
  position:relative;
  right:30px;
  top:0px;
}
.modalsh.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

#header .mainmenu .login_box {position:relative;right:0px;}
#header .mainmenu .login_box .but_box{position:absolute;left:80px;bottom:-178px;}
#header .mainmenu .login_box .loginsh{padding:0;display:inline-block;width:230px;background:#313f4f;color:#fff;font-size:16px;position:relative;border:0;height:50px;cursor:pointer;left:0px;}
#header .mainmenu .login_box .loginsh svg{position:relative;right:10px;top:1px;}
#header .mainmenu .login_box .closesh{padding:0;display:inline-block; position:relative;background-color:#313f4f;border:0;cursor:pointer;left:0px;width:230px;height:50px;color:#fff;margin-top:10px;font-size:16px}
#header .mainmenu .login_box .closesh svg{position:relative;right:12px;top:2px;width:1em;height:1em;}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}