.modal-inner{
  width:450px;
  height:300px;
}
.modal-inner div div .modal-image div{
 width:100%;
 border-bottom: 1px solid #8a8a8a;
}
.modal-contents{
  top:80px;
  position:relative;
  left:280px;
}
.modal-text{
  position:relative;
  left:0;
  top:40px;
}