.pagination{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
}
ul{
    list-style: none;
    padding: 0;

}
 ul.pagination li {
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:11px;
 }
 ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
  }

  ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
  }
  
  ul.pagination li a {
    text-decoration: none;
    color: #313f4f;
  }
  

  ul.pagination li.active{
    background-color: #313f4f;
  }
  ul.pagination li.active a{
    color:#fff;
  }
/*   ul.pagination li.active{
    background-color: #313f4f;
    color:#fff;
  } */

  
  ul.pagination li:hover{
    background-color: #313f4f;
  }
  ul.pagination li a:hover{
    color:#fff;
  }
  .page-selection {
    width: 48px;
    height: 30px;
    color: #313f4f;
  }