.a{
    width: 132px, i !important;
    color:black;  
    height:0;
   margin-left:20px !important;
   margin-top:50px;
   font-size:16px;
   font-weight:400;
   align-items: center;
   justify-content: center;
}
