@font-face {
  font-family: "VITRO CORE";
  src: url(/public/font/font_01.ttf);
}

 .sub_side_menu{
  padding-top: 60px;
}

 .sub_side_menu {
  position: relative;
  padding-left: 240px;
}

.sub_side_menu .sub_modal li p:hover{
  text-decoration: none;
  text-decoration-line: none;
  color:#000000;
}
 .sub_side_menu .sub_modal {
  z-index: 9;
  position: fixed;
  left:15%;
  top: 159px;
  height: calc( 100vh - 100px);
  padding: 36px;
  color:#636363;
}

 .sub_side_menu .sub_modal a{
  text-decoration: none;
  text-decoration-line: none;
  color:#636363;
}
 .sub_side_menu .sub_modal a:hover{
  color:#2d2d2d;
}
 .sub_side_menu .sub_modal > ol > li {
  margin-bottom: 12px;
  cursor: pointer;
}

 .sub_side_menu .sub_modal > ol > li > p {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2em;
  overflow: hidden;
}
.sub_side_menu .sub_modal > ol > li > a {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2em;
  overflow: hidden;
}
.sub_side_menu .sub_modal > ol > li > p::after{
  content: '';
  display: block;
  position: absolute;
  left: -100%;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #313f4f !important;
  -webkit-transition: 0.4s;
  transition: 0.5s;
}.sub_side_menu .sub_modal > ol > li > p > a::after{
  content: '';
  display: block;
  position: absolute;
  left: -100%;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #313f4f !important;
  -webkit-transition: 0.4s;
  transition: 0.5s;
}

 .sub_side_menu .sub_modal > ol > li > ol {
  height: 0;
  overflow: hidden;
}

 .sub_side_menu .sub_modal > ol > li > ol > li {
  line-height: 2em;
  font-weight: 700;
  color: #7f7f7f;
}

 .sub_side_menu .sub_modal > ol > li > ol > li.on {
  color: #2d2d2d;
}

 .sub_side_menu .sub_modal > ol > li.on p::after {
  left: 0;
}

 .sub_side_menu .sub_modal > ol > li.on > ol {
  height: 100%;
  padding-left: 16px;
}

 .sub_side_menu .sub_bread {
  width: calc(100% - 26%);
  display: -webkit-box;
  display: -ms-flexbox;
  display:inline-flex;
  position:fixed;
  z-index:100;
  gap: 36px;
  left:17%;
  box-sizing:content-box;
  border-bottom: 1px solid #313f4f;
  padding: 0 0;
}

 .sub_side_menu .sub_bread * {
  line-height: 60px;
  padding:0px;
}

 .sub_side_menu .sub_bread h2 {
  position: relative;top:11px;
  font-size:0.8rem;
  color:black;
}
.sub_side_menu .sub_bread h3{
  width:5vw;
  font-size:0.7rem;
  color:black;
}

 .sub_side_menu .sub_bread span {
  position: relative;
  top: 10px;
  
}

 .sub_page_wrap{
  height:calc(100vh - 20px);
 }
 .sub_side_menu .sub_bread h3 {
  position: relative;
  top:10px;
}

 .sub_page_inner_wrap {
  max-width: 1500px;
  margin-right:70px;
  min-height:900px;
}

 .sub_page_inner_wrap  {
  position:relative;
  top:50px;
}
.sub_inner{
  padding: 68px 0;
  margin-left: 190px;
  margin-right:30px;
  position:relative;
  left:5%;
  font-size:0.8rem;
} 
.sub_inner .tale_wrap  > tbody > tr > td > a{
  color:#000000;
}

.hello_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.hello_wrap .hello_text {
  width: calc( 100% - 500px);
}

.hello_wrap .hello_text > p {
  margin-bottom: 24px;
}

.hello_wrap .hello_image {
  width: calc( 100% - 670px);
  height: 600px;
}
#pageSub01b2{
  height:80vh;
  padding-left: 250px;
}
#pageSub01b2 h3.title_type1 {
  margin-bottom: 12px;
}


#pageSub01b1>.hello_text p img{
  width:35%;
  padding-top:100px;
  margin:auto 0;
}
#pageSub01b1>.hello_image img{
  height:700px;
}

#pageSub01b2 .image_part .img1{
  width:70%;
  height:18vh;
}

#pageSub01b2 .image_part .img2{
  height:50vh;
  width:70%;
}


#pageSub02a3 .select_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#pageSub02a3 .select_wrap > div {
  width: calc( 50% - 50px);
}

#pageSub02a5 .btn_type2, #pageSub02a6 .btn_type2 {
  margin: 24px auto;
}

#pageSub05a2 .tabs_wrap, #pageSub05b2 .tabs_wrap {
  padding: 0 12px;
}

#pageSub03a2, #pageSub04a2, #pageSub04a3, #pageSub06d2 {
  max-width: 850px;
}

#pageSub03a2 section, #pageSub04a2 section, #pageSub04a3 section, #pageSub06d2 section {
  padding-left: 12px;
}

#pageSub03a2 h2, #pageSub04a2 h2, #pageSub04a3 h2, #pageSub06d2 h2 {
  text-align: center;
}

#pageSub07c2 > .tp_btn {
  margin-right: 0;
}
#pageSub01b3 {
  position: relative;
  top:40px;
}
#pageSub02a5 img{
  position:relative;
  margin : 0 auto;
  left:10%;
  width:80%;
  
}


#pageSub02a5 input{
  border : 1px solid #000000;
}
#pageSub02a5 .testpage{
  border: 1.5px solid #2d2d2d;
  width:auto;
  height:300px;
  max-height:100%;
  box-sizing: border-box;
  font-size: 0.6rem;
}
#pageSub02a5 .testpage h2{
  position:relative;
  top:20px;
  font-size:1.5rem;
  text-align: center;
}
#pageSub02a5 .test_3d tbody{
  position:relative;
  top:60px;
}
#pageSub02a5 .test_3d tbody tr td.name span{
  font-size:0.6rem;
  font-weight:400
}
#pageSub02a5 .test_3d > tbody > tr >td{
  height:auto;
  padding: 10px 10px 10px 10px;
}
#pageSub02a5 .testpage .test_3d tbody:nth-of-type(1)>tr:nth-child(1)>td{
  width:50px;
}
#pageSub02a5 .tp_btn .resinfo a{
 position: relative;
 bottom:5px;
}
#pageSub02b1 .table_wrap {
  min-height:800px;
}
#pageSub07c .table_wrap table tbody tr td{
  cursor:pointer
}
/*# sourceMappingURL=page_sub.css.map */