@font-face {
  font-family:"Nanum Gothic", "NanumGothicBold", "Malgun Gothic", "sans-serif";
  src: url(/public/font/font_01.ttf);
}
  button{background-color: #ffffff;}
  .sub_side_menu{
  position: absolute;
  width:500px;
  }

  .sub_side_menu .sub_modal li p:hover{
  text-decoration: none;
  text-decoration-line: none;
  color:#000000;
  }
 .sub_side_menu .sub_modal {
  z-index: 9;
  position: fixed;
  top:180px;
  width:200px;
  height: calc( 100vh - 100px);
  padding: 36px;
  color:#636363;
  }

 .sub_side_menu .sub_modal button{
  text-decoration: none;
  text-decoration-line: none;
  color:#636363;
}
 .sub_side_menu .sub_modal a:hover{
  color:#2d2d2d;
}
 .sub_side_menu .sub_modal > ol > li {
  margin-bottom: 12px;
  cursor: pointer;
}

 .sub_side_menu .sub_modal > ol > li > p {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.2em;
  overflow: hidden;
}
.sub_side_menu .sub_modal > ol > li > p > button {
  position: relative;
  display: inline-block;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
  overflow: hidden;
}
.sub_side_menu .sub_modal > ol > li > ol > li > button:hover{
  color:#000000;
  cursor:pointer;
}
.sub_side_menu .sub_modal > ol > li > p::after{
  content: '';
  display: block;
  position: absolute;
  left: -100%;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #313f4f !important;
  -webkit-transition: 0.4s;
  transition: 0.5s;
}
/* .sub_side_menu .sub_modal > ol > li > p > a::after{
  content: '';
  display: block;
  position: absolute;
  left: -100%;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #313f4f !important;
  -webkit-transition: 0.4s;
  transition: 0.5s;
} */

 .sub_side_menu .sub_modal > ol > li > ol {
  height: 0;
  overflow: hidden;
}

 .sub_side_menu .sub_modal > ol > li > ol > li {
  line-height: 2em;
  padding-left:5px;
  font-weight: 400;
  color: #7f7f7f;
  font-size:15px;
}

 .sub_side_menu .sub_modal > ol > li > ol > li.on {
  color: #2d2d2d;
  font-weight: 400;
}

.sub_side_menu .sub_modal > ol > li > ol > li.on > button{
  font-weight:300;
  font-size:16px;
}
 .sub_side_menu .sub_modal > ol > li.on p::after {
  left: 0;
}

 .sub_side_menu .sub_modal > ol > li.on > ol {
  height: 100%;
  padding-left: 2px;
}

 .sub_side_menu .sub_bread {
  width:1300px;
  margin-left:188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display:inline-flex;
  position:absolute;
  z-index:0;
  margin-top:88px;
  gap: 36px;
  box-sizing:content-box;
  padding: 0 0;
  border-bottom:#7f7f7f 0.5px solid;
}

 .sub_side_menu .sub_bread * {
  line-height: 60px;
  padding:0px;
}
.sub_side_menu .sub_bread > h1{
  position:relative;
  top:10px;
}
.sub_side_menu .sub_bread > *{
  position:relative;
}
.sub_side_menu .sub_bread .location{
    position:absolute;
    right:0;
    width:200px;
}
.sub_side_menu .sub_bread .location .title_area h2{
  position:absolute;
  left:100px;
}
.sub_side_menu .sub_bread .location h3{
  position:absolute;
}
.sub_side_menu .sub_bread .location .title_area .homeicon{
  position:relative;
  top:18px;
  width:20px;
}
.sub_side_menu .sub_bread .location .title_area .arrowicon{
  position:absolute;
  width:50px;
  top:38px;
  left:150px;
}
.sub_side_menu .sub_bread .location .title_area{
  position:relative;
  right:50px;
}
.sub_side_menu .sub_bread .location .title_area h2,.sub_side_menu .location h3{
 width:85px;
}
 .sub_side_menu .sub_bread h2 {
  position: relative;
  top:16px;
  font-size:0.8rem;
  color:black;
}
.sub_side_menu .sub_bread h3{
  position: relative;
  font-size:0.7rem;
  color:black;
}

 .sub_page_wrap{
  height:calc(150vh - 20px);
  white-space: nowrap;
 }
 .sub_side_menu .sub_bread h3 {
  position: relative;
  top:16px;
}

 .sub_page_inner_wrap {
  max-width: 1500px;
  margin-right:70px;
  min-height:900px;
}

 .sub_page_inner_wrap  {
  position:relative;
  top:100px;
}
.sub_inner{
  width:1300px;
  padding: 90px 0;
  margin-left: 160px;
  margin-right:30px;
  position:relative;
  left:2%;
  font-size:0.8rem;
  
} 
.sub_inner .tale_wrap  > tbody > tr > td > a{
  color:#000000;
}

.hello_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.hello_wrap .hello_text {
  width: calc( 100% - 500px);
}

.hello_wrap .hello_text > p {
  margin-bottom: 24px;
}

.hello_wrap .hello_image {
  width: calc( 100% - 670px);
  height: 600px;
}
#pageSub01b2{
  height:1200px;
  padding-left: 250px;
}
#pageSub01b2 .inner_cotent{
  position:relative;
  top:50px;
}
#pageSub01b2 h3.title_type1 {
  margin-bottom: 12px;
}
#pageSub01b2 .part2{
  position:relative;
  top:50px;
}
#pageSub01b1{
  height:auto;
  position: relative;
}

#pageSub01b1 .hello_text{
  position:relative;
  top:40px;
  right:30px;
  left:0;
}
#pageSub01b1>.hello_text p img{
  width:20%;
  padding-top:50px;
  margin:auto 0;
}
#pageSub01b1>.hello_image img{
  position:relative;
  left:270px;
  width:300px;
  height:550px;
}

#pageSub01b2 .image_part .img1{
  width:80%;
  height:auto;
}

#pageSub01b2 .image_part .img2{
  position:relative;
  height:800px;
  width:60%;
  left:100px;
}


#pageSub02a3 .select_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#pageSub02a3 .select_wrap > div {
  width: calc( 50% - 50px);
}

#pageSub02a5 .btn_type2, #pageSub02a6 .btn_type2 {
  margin: 24px auto;
}

#pageSub05a2 .tabs_wrap, #pageSub05b2 .tabs_wrap {
  padding: 0 12px;
}

#pageSub03a2, #pageSub04a2, #pageSub04a3, #pageSub06d2 {
  max-width: 850px;
}

#pageSub03a2 section, #pageSub04a2 section, #pageSub04a3 section, #pageSub06d2 section {
  padding-left: 12px;
}

#pageSub03a2 h2, #pageSub04a2 h2, #pageSub04a3 h2, #pageSub06d2 h2 {
  text-align: center;
}

#pageSub07c2 > .tp_btn {
  margin-right: 0;
}
#pageSub01b3 {
  position: relative;
  width:100%;
  height:auto;
  left:50px;

}
#pageSub01b3 .image_part img{
  width:100%;
}
#pageSub02a5 img{
  position:relative;
  margin : 0 auto;
  left:10%;
  width:80%;
  
}
#pageSub02a5 button{
  justify-content: center;
  position: relative;
  margin-top:60px;
  left:42.5%;
}

#pageSub02a5 input{
  border : 1px solid #000000;
}
#pageSub02a5 .testpage{
  border: 1.5px solid #2d2d2d;
  width:auto;
  height:300px;
  max-height:100%;
  box-sizing: border-box;
  font-size: 0.6rem;
}
#pageSub02a5 .testpage h2{
  position:relative;
  top:20px;
  font-size:1.5rem;
  text-align: center;
}
#pageSub02a5 .test_3d tbody{
  position:relative;
  left:20px;
  top:70px;
}
#pageSub02a5 .test_3d tbody tr td.name span{
  font-size:0.6rem;
  font-weight:400
}
#pageSub02a5 .test_3d > tbody > tr >td{
  height:auto;
  padding: 10px 3px 5px 0px;
}
/* #pageSub02a5 .testpage .test_3d tbody:nth-child(1)>tr:nth-child(1)>td{
  width:50px;
} */
.sub_page_outer{
  margin-bottom:40px;
  
}
#pageSub02a5 .tp_btn .resinfo a{
 position: relative;
 bottom:5px;
}
#pageSub02b1 .table_wrap {
  min-height:800px;
}
#pageSub07c .table_wrap table tbody tr td{
  cursor:pointer
}
#pageSub07b1 .list_type2c ol li img{
  justify-content: center;
  position:relative;
  width:230px;
  height:160px;
}
#pageSub07b1 .list_type2c ol{
  padding:0 40px;
}
#pageSub07b3 .list_type2c ol li img{
  justify-content: center;
  position:relative;
  width:230px;
  height:160px;
}
.list_type2 ol{
  padding:0 40px;
}
#pageSub05b1 .list_type2 ol li img{
  justify-content: center;
  position:relative;
  width:180px;
  height:210px;
  
}
#pageSub05b1 ol{
  margin-top:30px;
}
#pageSub05a1 ol{
  margin-top:30px;
}

#pageSub05a1 .list_type2 ol{
  padding:0 100px;
}
#pageSub05b1 .list_type2 ol{
  padding:0 0px;
}
#pageSub05a1 .list_type2 ol li img{
  justify-content: center;
  position:relative;
  width:180px;
  height:210px;
}
#pageSub07b1{
  margin-top:23px;
}
#pageSub07b3 {
  margin-top:23px;
}
#pageSub07b5{
  margin-top:23px;
}
#pageSub07b5 .list_type2 ol li .text_part h5{
  position:relative;
  top:15px;
}
.info_type2{
  margin-bottom:50px;
}

/*# sourceMappingURL=page_sub.css.map */