@font-face {
  font-family:"Nanum Gothic", "NanumGothicBold", "Malgun Gothic", "sans-serif";
  src: url(/public/font/font_01.ttf);
}



.section_text_type1 {
  padding-bottom: 120px;
  height:auto;
  min-height: 100%;
  margin-top:90px;
 
}

.section_text_type1 h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.section_text_type1 p {
  margin-bottom: 20px;
}
.section_text_type1 .flex_wrap h4.title_type2 {
  position:absolute;
  top:0;
  left:110px;
  font-size:1.4rem;
  font-weight:400;
  
}
.section_text_type1 .flex_wrap h4.title_type2:after{
  border-bottom:3px solid #313f4f; 
  content:"";
  display: block;
  width:145px;
}
.section_text_type1 .text_part {
  width: 400px;
  position:relative;
  top:50px;
  left:50px;
}

.section_text_type1 .swiper_part {
  position: relative;
  width: calc( 100% - 600px);
  height: 300px;
  /* border: 1px solid #313f4f; */
  border:none;
  border-radius: 8px;
  z-index: 0;
  left:-10px;
}
.section_text_type1 .swiper_part .swiper_wrap .swiper .swiper-slide a img{
  width:590px;
  border:none;
}
.section_text_type1 .swiper_part::before {
  content: '';
  display: block;
  position: absolute;
  left: -120px;
  top: 0;
  width: 56px;
  height: 200px;
  background-color: #313f4f;
}

.section_text_type1 .swiper_part::after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 80px;
  width: 700px;
  height: calc(100% + 15px);
  background-color: #313f4f;
}
@media screen and (max-width:1000px)
{
  .section_text_type1 .swiper_part::after{
    width:300px;
  }
}
.section_text_type2 .title_type1 {
  margin-bottom: 0;
  margin-top: 24px;
}

.section_text_type2 .text_wrap{
  border:0.8px solid #d2d2d2;
  height:90vh;
  margin-bottom:80px;
  padding: 10px 30px;
}
.section_text_type2 ul > li > dl dd dl {
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.section_text_type2 ul > li > dl dd dl dt {
  width: 80px;
  height:50px;
  position: relative;
  padding-right: 18px;
}
.section_text_type2 ul > li > dl{
  height:130px;
}
.section_text_type2 ul > li > dl dd dl dt::after {
  content: ':';
  display: block;
  position: absolute;
  right: 6px;
  top: 0;
}

.section_text_type2 ul > li > dl dd dl dd {
  width: calc( 33.33% - 100px);
}


.section_tab_type1a .tab_btns_wrap{
  position:relative;
  left:25px;
  z-index:999;
}
.section_tab_type1 .tab_btns_wrap,.section_tab_type1a .tab_btns_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
   justify-content: flex-end;
   gap: 15px;

}
.section_tab_type1a .tabs_wrap .tab_inner .title_type2{
  position:relative;
  left:22px;
}


.section_tab_type1 .section_inner_wrap{
  position:relative;
  bottom:10px;
}
.section_tab_type1 .section_inner_wrap .title_type1{
  position:absolute;

}
.section_tab_type1 .section_inner_wrap .tabs_wrap .tab_inner ol li .title{
  position:relative;
  top:15px;
  margin-left:20px;
  font-weight:0;
  font-size:1.0rem;
}
.section_tab_type1 .section_inner_wrap h3{
  position:relative;
  left:-120px;
  top:30px;
  color:black;
  font-size:1.4rem;
  font-weight: 400;
}
.section_tab_type1 .section_inner_wrap h3:after{
  border-bottom:3px solid #000000; 
  content:"";
  display: block;
  width:130px;
}
.section_tab_type1 .section_inner_wrap .tabs_wrap .tab_inner ol li{
  top:10px;
}
.section_tab_type1 .tab_btns_wrap > li,.section_tab_type1a .tab_btns_wrap > li {
  border-bottom: 3px solid transparent;
  padding: 3px;
  cursor: pointer;
  line-height: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
 .section_tab_type1 .section_inner_wrap .tabs_wrap .tab_inner .inner_text{
  position:relative;
  top:50px;
  bottom:0px;
 }
 .section_tab_type1 .section_inner_wrap .tabs_wrap .tab_inner .inner_text div{
  margin:10px 0px;
 }
 .section_tab_type1 .section_inner_wrap .tabs_wrap .tab_inner .inner_text div span{
  float:right;
  position:relative;
  left:500px;
  width:500px;
 }
.section_tab_type1 .tab_btns_wrap > li.on,.section_tab_type1a .tab_btns_wrap > li.on {
  border-bottom-color: #313f4f;
}

.section_tab_type1 .tab_inner,.section_tab_type1a .tab_inner {
  display: none;
}

.section_tab_type1 .tab_inner ol,.section_tab_type1a .tab_inner ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.section_tab_type1 .tab_inner ol li .text_part{
  position:absolute;
  margin-top:80px;
}


.section_tab_type1 .tab_inner ol > li:nth-child(1),.section_tab_type1 .tab_inner ol > li:nth-child(2),.section_tab_type1a .tab_inner ol > li:nth-child(1),.section_tab_type1a .tab_inner ol > li:nth-child(2)  {
  width: calc( 33.33% - 20px);
  height: 200px;

  border:none;
}

.section_tab_type1{
  position:relative;
  justify-content: center;
  height:500px;
  left:10px;
  margin-top:-120px;
  background-color: #f3f3f3;
 /*  background:rgba(36,104, 162, 0.5); */
/*   background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url(/images/wallpaper.jpg); */
}
.section_tab_type1::before{
  position:relative;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
/*   background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url(/images/wallpaper.jpg); */
  content: "";
}
.section_tab_type1  .tabs_wrap .tab_inner ol{
  float:left;
  margin-left:30px;
  width:300px;
  top:40px;
}
.section_tab_type1  .tabs_wrap .tab_inner ol li{
/*   background-color:#ffffff; */
  width:300px;
  height:250px;
  width: 300px;
  position:relative;
  margin-top:30px;
  box-shadow: 5px 5px 5px #2d2d2d;
  background-color: #ffffff;
  border:2px solid #807f7f;
/*   background:url(/images/note.png) */

}
.section_tab_type1  .tabs_wrap .tab_inner ol li::before{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
    background-image: linear-gradient(
    rgba(255,255,255, 0.35),
    rgba(0, 0, 0, 0.35)
  ) url(/images/note.png);
}
.section_tab_type1  .tabs_wrap .tab_inner ol li span{
  cursor:pointer;
  width:100%;
  justify-content: center;
}
.section_tab_type1  .tabs_wrap .tab_inner ol li .text_part .sub_title{
  position:relative;
  left:20px;
  cursor: pointer;
}

.section_tab_type1  .tabs_wrap .tab_inner ol li .date_part{
  position:absolute;
  width:100px;
  top:115px;
  left:20px;
}
.section_tab_type1  .tabs_wrap .tab_inner ol li .name{
  position:absolute;
  font-weight: 400;
  font-size:12px;
  top:115px;
  left:230px;
  width:100px;
}

.section_tab_type1  .tabs_wrap .tab_inner ol li .plus{
  position:absolute;
  width:100%;
  left:120px;
  top:10px;
  height:22px;
  cursor:pointer;
}
.section_tab_type1  .tabs_wrap .tab_inner ol li .inner_text{
  position:absolute;
  display:flex;
  justify-content: center;
  white-space: pre-wrap;
  top:50%;
  width:50%;
  height:50%;
  margin-top:auto;
  margin-left:50px;
  padding:auto;
}
.section_tab_type1  .tabs_wrap .tab_inner ol li .inner_text table tr div span{
  position:relative;
}
.section_tab_type1  .tabs_wrap .tab_inner ol li .inner_text table tr td:nth-child(1) span:hover{
  border-bottom:0.2px solid #2d2d2d;
  cursor:pointer;
}
.section_tab_type1  .tabs_wrap .tab_inner ol li .inner_text table tr td:after{

}

.section_tab_type1 .tab_inner div.inner,.section_tab_type1a .tab_inner div.inner {
  padding: 24px;
  background-color: #fff;
}

.section_tab_type1 .tab_inner.on,.section_tab_type1a .tab_inner.on {
  display: block;
}
.section_tab_type1 .tab_inner ol,.section_tab_type1a .tab_inner ol {
  position: relative;
  left:40px;
}
.section_tab_type1 .section_inner_wrap .inner_tab{
  left:-130px;
  position:absolute;
 }
/* .section_tab_type1 .tab_inner .image1,.section_tab_type1a .tab_inner .image1{
  position: relative;
  width:270px;
  max-width: 280px;
  height:150px;
  justify-content: center;
  border:1px solid #313f4f;
} */


.section_tab_type3{
  position:relative;
  margin-bottom:20px;
  justify-content: center;
  height:500px;
  left:10px;
  margin-top:120px;
  background-color: #f4f4f4;
 /*  background:rgba(36,104, 162, 0.5); */
/*   background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url(/images/wallpaper.jpg); */
}
.section_tab_type3::before{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
/*   background-image: linear-gradient(
    rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)
  ), url(/images/wallpaper.jpg); */
  content: "";
}

.section_tab_type3 .tab_btns_wrap,.section_tab_type1a .tab_btns_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
   justify-content: flex-end;
   gap: 15px;

}


.section_tab_type3 .section_inner_wrap{
  position:relative;
  bottom:10px;
}
.section_tab_type3 .section_inner_wrap .title_type1{
  position:absolute;

}
/* .section_tab_type3 .section_inner_wrap .tabs_wrap .tab_inner ol li .title{
  position:relative;
  top:15px;
  margin-left:20px;
  font-weight:0;
  font-size:1.0rem;
} */
.section_tab_type3 .section_inner_wrap h3{
  position:relative;
  left:-120px;
  top:30px;
  color:black;
  font-size:1.4rem;
  font-weight: 400;
}
.section_tab_type3 .section_inner_wrap h3:after{
  border-bottom:3px solid #000000; 
  content:"";
  display: block;
  width:110px;
}
.section_tab_type3 .section_inner_wrap .tabs_wrap .tab_inner ol li{
  top:10px;
}
/* .section_tab_type3 .tab_btns_wrap > li,.section_tab_type1a .tab_btns_wrap > li {
  border-bottom: 3px solid transparent;
  padding: 3px;
  cursor: pointer;
  line-height: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
} */
/*  .section_tab_type3 .section_inner_wrap .tabs_wrap .tab_inner .inner_text{
  position:relative;
  top:50px;
  bottom:0px;
 } */
/*  .section_tab_type3 .section_inner_wrap .tabs_wrap .tab_inner .inner_text div{
  margin:10px 0px;
 } */
 .section_tab_type3 .section_inner_wrap .inner_tab{
  left:-130px;
  position:absolute;

 }
 .section_tab_type3 .section_inner_wrap .inner_tab img:nth-child(1){
  border:1px solid #2d2d2d;
  transition:all 0.2s linear;
  overflow: hidden;
 }
 .section_tab_type3 .section_inner_wrap .inner_tab img:hover{
  border:2px solid #000000;
 }
 .section_tab_type3 .section_inner_wrap .inner_tab img:nth-child(1):hover{
  transform:scale(1.1);
 }
 .section_tab_type3 .section_inner_wrap .tabs_wrap .tab_inner .inner_text div span{
  float:right;
  position:relative;
  left:500px;
  width:500px;
 }
.section_tab_type3 .tab_btns_wrap > li.on,.section_tab_type1a .tab_btns_wrap > li.on {
  border-bottom-color: #313f4f;
}

.section_tab_type3 .tab_inner{
  display: none;
}

.section_tab_type3 .tab_inner ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;

}
.archive_image_part img {
  width:220px;
  height:150px
}
@media(max-width:958px){
.section_tab_type1{
  height:700px;
  left:100px;
}
.section_tab_type3{
  height:500px;
  left:100px;
  margin-top:600px;
}
.section_text_type1 {
  height:1150px;
}
.section_banner_type1 {
  height:400px;
}
.section_banner_type1 .section_inner_wrap{
  left:200px;
}
.section_text_type1 .flex_wrap .text_part{
  position:absolute;
  top:600px;
  left:100px;
}
.section_text_type1 .flex_wrap .swiper_part{
  width:500px;
  left:100px;
}
.section_text_type1 .flex_wrap .swiper_part::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 56px;
  height: 200px;
  background-color: #313f4f;
}
.section_text_type1 .swiper_part::after {
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  left: -30px;
  top: 80px;
  width: 700px;
  height: calc(100% + 15px);
  background-color: #313f4f;
}
}
.section_tab_type3 .tab_inner ol li .text_part{
  position:absolute;
  margin-top:80px;
  margin-left:10px;
}
.section_tab_type3 .tab_inner ol{
 float:left;
 display:inline;
 position:absolute;
 margin-left:30px;
 width:300px;
 top:40px;
}


.section_tab_type3 .tab_inner ol > li:nth-child(3),.section_tab_type1a .tab_inner ol > li:nth-child(3){
  width: calc( 33.33% - 20px);
  height: 200px;
  border:none;
} 
.section_tab_type3 .tab_inner ol > li:nth-child(1),.section_tab_type1 .tab_inner ol > li:nth-child(2),.section_tab_type1a .tab_inner ol > li:nth-child(1),.section_tab_type1a .tab_inner ol > li:nth-child(2)  {
  width: calc( 33.33% - 20px);
  height: 200px;
  border:none;

}


.section_tab_type3  .tabs_wrap .tab_inner ol li{
  height:250px;
  width: 300px;
  position:relative;
  margin-top:30px;
  box-shadow: 5px 5px 5px #2d2d2d;
  background-color: #ffffff;
  border:2px solid #807f7f;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li::before{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
    background-image: linear-gradient(
    rgba(255,255,255, 0.35),
    rgba(0, 0, 0, 0.35)
  ) url(/images/note.png);
}
.section_tab_type3  .tabs_wrap .tab_inner ol li span{
  cursor:pointer;
  width:100%;
  justify-content: center;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li .text_part .sub_title{
  position:relative;
  left:25px;
  bottom:50px;
  cursor: pointer;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li .title{
  position:relative;
  width:250px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  top:15px;
  margin-left:20px;
  font-weight:0;
  font-size:1.0rem;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li .date_part{
  position:absolute;
  width:100px;
  top:115px;
  left:20px;
}

.section_tab_type3  .tabs_wrap .tab_inner ol li .name{
  position:absolute;
  font-weight: 400;
  font-size:12px;
  top:115px;
  right:-50px;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li .inner_text{
  position:absolute;
  display:flex;
  justify-content: center;
  white-space: pre-wrap;
  top:50%;
  width:50%;
  height:50%;
  margin-top:auto;
  margin-left:50px;
  padding:auto;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li .inner_text table tr div span{
  position:relative;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li .inner_text table tr td:nth-child(1) span:hover{
  border-bottom:0.2px solid #2d2d2d;
  cursor:pointer;
}
.section_tab_type3  .tabs_wrap .tab_inner ol li .inner_text table tr td:after{

}

.section_tab_type3 .tab_inner div.inner,.section_tab_type1a .tab_inner div.inner {
  padding: 24px;
  background-color: #fff;
}

.section_tab_type3 .tab_inner.on,.section_tab_type1a .tab_inner.on {
  display: block;
}
.section_tab_type3 .tab_inner ol,.section_tab_type1a .tab_inner ol {
  position: relative;
  left:40px;
}
.section_banner_type1{
  position:relative;
  margin-top:100px;
  margin-bottom:20px;
  left:-85px;
}
.section_banner_type1 .section_inner_wrap {
  position:relative;
  top:55%;
  min-height: 100%;
  margin-bottom:20px;
  width:100%;
}
.section_banner_type1{
  
}
.section_banner_type1 .title_type2{
  position:relative;
  left:-24px;
  font-size:1.4rem;
  font-weight:400;
}
.section_banner_type1 .title_type2:after{
  border-bottom:3px solid #313f4f; 
  content:"";
  display: block;
  width:120px;
}
.section_banner_type1 .section_inner_wrap .swiper_wrap{
  position:relative;
  left:-7%;
  width:1600px;
  top:20px;
}
.section_tab_type1 .section_inner_wrap .title_type1{
  position:relative;
  top:40px;
  left:-130px;
}
.section_banner_type1 .section_inner_wrap::before {
  content: '';
  display: block;
  position: relative;
  left: 180px;
  top: 10px;
  width: calc( 100% - 180px);
  height: 3px;
  background-color: #fff;
  
}

.section_input_select_type1 .title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section_input_select_type1 .title_wrap .title_type1 {
  margin-bottom: 4px;
}

.section_input_select_type1 .title_wrap p {
  color: #313f4f;
  font-size: 14px;
}

.section_input_select_type1 .checkbox_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section_input_select_type1 .checkbox_wrap li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.section_input_select_type1 .checkbox_wrap li input {
  margin-right: 12px;
}

.section_input_select_type1 .checkbox_wrap li label {
  font-size: 14px;
}

.section_input_text_type1 {
  margin-top: 48px;
  position:relative;
  left:0;
}

.section_input_text_type1 h2 {
  margin-bottom: 24px;
  text-align: center;
}

.section_input_text_type1 .text_wrap li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.section_input_text_type1 .text_wrap li label {
  min-width: 150px;
  padding-right: 12px;
}

.section_input_text_type1 .text_wrap li input {
  width: 100%;
  margin-right: 50px;
  padding: 0 12px;
  border-bottom: 2px solid #313f4f;
  background-color: transparent;
}

.section_input_text_type1 .text_wrap li input:last-of-type {
  margin-right: 0;
}

.section_input_text_type1 .text_wrap li input[type="file"] {
  padding-bottom: 4px;
}

.section_input_text_type1 .text_wrap li > dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_input_text_type1 .text_wrap li > dl dt {
  min-width: 150px;
}

.section_input_text_type1 .text_wrap li > dl dd {
  width: 100%;
}

.section_input_text_type1 .text_wrap li.textarea_wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section_input_text_type1 .text_wrap li.textarea_wrap textarea {
  width: 1200px;
  border: 2px solid #313f4f;
  padding: 12px;
  background-color: transparent;
  resize: none;
}
.section_input_text_type1 .text_wrap li.textarea_wrap .ck-editor{
  width: 1000px;
  margin:0;
  background-color: transparent;
  resize: none;
  position:relative;
  left:50px;
}
.section_input_text_type1 .text_wrap li.textarea_wrap p.text_editor{
  position:absolute;
}
.section_input_text_type1 span{
  padding-left:20px;
}
.section_input_text_type1 .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-top: 24px;
}


.section_input_text_type1.section_input_text_type1b .text_wrap {
  margin-bottom: 24px;
}

.section_input_text_type1.section_input_text_type1b .text_wrap li {
  margin-bottom: 0;
  border: 1px solid #2d2d2d;
  border-bottom-width: 0;
}

.section_input_text_type1.section_input_text_type1b .text_wrap li:last-of-type {
  border-bottom-width: 1px;
}

/* .section_input_text_type1.section_input_text_type1b .text_wrap li label, .section_input_text_type1.section_input_text_type1b .text_wrap li input {
  height: 50px;
  padding-bottom: 12px;
  padding-top: 12px;
} */

.section_input_text_type1.section_input_text_type1b .text_wrap li input, .section_input_text_type1.section_input_text_type1b .text_wrap li textarea {
  border: 0;
  border-left: 1px solid #2d2d2d;
}

.section_input_text_type1.section_input_text_type1b .text_wrap li label {
  text-align: center;
}

.section_input_text_type1.section_input_text_type1d {
  padding-left: 10px;
  margin-bottom:200px;
}
.section_input_text_type1.section_input_text_type1d{
  position:relative;
  width:100%;
  left:-8px;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li {
  position: relative;
  margin-bottom: 0;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #313f4f;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li label {
  position: relative;
  height: 100%;
  padding: 12px;
  background-color: #313f4f;
  color: #fff;
  line-height: 40px;
}
.section_input_text_type1.section_input_text_type1d .text_wrap li label::after {
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}



.section_input_text_type1.section_input_text_type1d .text_wrap li input, .section_input_text_type1.section_input_text_type1d .text_wrap li textarea, .section_input_text_type1.section_input_text_type1d .text_wrap li select {
  margin: 0 24px;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li select {
  padding: 0 12px;
  border: 2px solid #313f4f;
  background-color: transparent;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li input.w_auto {
  width: auto;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li input {
  border: 2px solid #313f4f;
  padding: 4px 12px;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li input[type="file"] {
  border: none;
  padding-left: 0;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li:first-of-type::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #313f4f;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li:last-of-type label::after {
  display: none;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li.input_date_wrap input {
  max-width: 200px;
  margin-right: 24px;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li.input_date_wrap input:last-of-type {
  margin-right: 0;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li.input_date_wrap input:nth-of-type(2) {
  margin-left: 24px;
}

.section_input_text_type1.section_input_text_type1d .text_wrap li.textarea_wrap {
 
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* faq,공지사항 label 간격 떨어뜨리는  코드
 .section_input_text_type1.section_input_text_type1d .text_wrap li.textarea_wrap label {
  height: 200px;
} */
.section_input_text_type1 .text_wrap li:nth-child(2){
  height:auto;
  max-height:2000px;
}
.section_input_text_type1d button{
  margin-top:24px;
  background-color:#313f4f;
  width:120px;
  height:40px;
  position:relative;
  left:50%;
}
.section_input_text_type1d button.update{
  position:relative;
  left:0%;
} 
.section_input_text_type1d button.cancel {
  position:relative;
  left:44%;
}
.section_input_text_type1d button.apply {
  position:relative;
  left:41%;
}
.section_input_text_type1e .button_wrap{
  position:relative;
  right:100px;

}
.section_input_text_type1e .button_wrap .modify{
  margin-right:50px;
}
.section_input_text_type1e .btn_wrap{
  position:relative;
  right:100px;
}
.section_input_text_type1e .btn_wrap .modify{
  margin-right:50px;
}
.section_input_text_type1 .file_wrap{
  position:relative;

}
.section_input_text_type1 .file_wrap span{
  position:absolute;
  left:150px;
}
.section_input_text_type1 .file_wrap .download{
  position:absolute;
  left:180px;
  bottom:10px;
  color:#fff;
  cursor:pointer;
}
.section_input_text_type1.section_input_text_type1g .text_wrap li.textarea_wrap {
  display:flex;
  max-height:2000px;
  min-height:300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section_input_text_type1.section_input_text_type1g .text_wrap li.filearea_wrap {
  min-height:300px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.section_input_text_type1g .text_wrap li.textarea_wrap .image_part{
  position:relative;
  top:50px;
  left:30px;
  width:500px;
  max-height:500px;
}

.section_input_text_type1.section_input_text_type1p {
  padding-left: 12px;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li {
  position: relative;
  margin-bottom: 0;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #313f4f;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li label {
  position: relative;
  height: 60px;
  padding: 12px;
  background-color: #313f4f;
  color: #fff;
  line-height: 40px;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li label::after {
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li input, .section_input_text_type1.section_input_text_type1p .text_wrap li textarea, .section_input_text_type1.section_input_text_type1p .text_wrap li select {
  margin: 0 24px;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li select {
  padding: 0 12px;
  border: 2px solid #313f4f;
  background-color: transparent;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li input.w_auto {
  width: auto;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li input {
  border: 2px solid #313f4f;
  padding: 4px 12px;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li input[type="file"] {
  border: none;
  padding-left: 0;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li:first-of-type::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: #313f4f;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li:last-of-type label::after {
  display: none;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li.input_date_wrap input {
  max-width: 200px;
  margin-right: 24px;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li.input_date_wrap input:last-of-type {
  margin-right: 0;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li.input_date_wrap input:nth-of-type(2) {
  margin-left: 24px;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li.textarea_wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_input_text_type1.section_input_text_type1p .text_wrap li.textarea_wrap label {
  height: 200px;
}

.section_input_text_type1p > .tp_btn {
  margin-top: 24px;
}
.section_input_text_type1p button{
  margin-top:24px;
  background-color:#313f4f;
  width:120px;
  height:40px;
  position:relative;
  left:50%;
}
.section_input_text_type1p button.apply {
  position:relative;
  left:41%;
}
.section_input_text_type1p .button_wrap{
  position:relative;
  right:100px;
}
.section_input_text_type1p button.cancel {
  position:relative;
  left:44%;
}